@import './rewrite-vant.less';

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,helvetica neue,Helvetica,Segoe UI,Arial,Roboto,pingfang sc,miui,hiragino sans gb,microsoft yahei,sans-serif;
}

a, body {
  color: #ddd;
  background-color: transparent;
  font-size: 14px;
}

:root {
  --swiper-navigation-size: 44px;
}

:root {
  --swiper-theme-color: #007aff;
}

.top-h1 {
  font-size: 44px;
  font-weight: 700;
}

.bg-opacity {
  background-color: hsla(0,0%,100%,.13)!important;
}

.line {
  height: 20px;
  width: 100%;
}

// .van-popup,
// .van-sticky--fixed,
// .van-tabbar,
// body {
//   max-width: 750px;
//   margin: 0 auto;
// }